body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

button {
    padding: 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

button:active {
    background-color: #45a049;
}

#status {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

audio {
    margin-top: 20px;
    width: 100%;
}

.letras{
    font-size: 10px;
}

.alerta-visual {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px;
    background-color: #f44336; /* Color rojo */
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
